body {
  margin: 0;
  font-family: sans-serif;
  background-color: lightgray;
}

nav {
  z-index: 2;
  background-color: #3772FF;
  color: ghostwhite;
  padding: 5px 20px;
  box-shadow: 0px 1px 2px gray;
  display: flex;
  align-items: center;
  top: 0;
  position: fixed;
  width: 100%;  
}

nav p {
  color: ghostwhite;
  font-size: 20px;
  margin-left: 0px;
}

#nav-img {
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-right: 10px;
}

.sidebar {
  width: 160px;
  height: 100%;
  background-color: ghostwhite;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 100px;
  box-shadow: 0px 0px 3px gray;
  text-align: center;
  /* margin-top: 73px; */
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  display: block;
}

.sidebar a:hover {
  background-color: lightgray;
}

footer {
  background-color: #3772FF;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding: 3px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

footer a {
  text-decoration: none;
  color: black;
  padding-left: 4px;
}

#footer-logo {
  width: 20px;
}

/* if uncommenting and using this styling instead, uncommnet sidebar margin top: 73px */
/* .item-list {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  text-align: center;
} */


.item-list {
  margin-left: 160px;
  margin-top: 73px;
  margin-bottom: 35px;
  justify-content: center;
  display: flex;
  text-align: center;
  

}

.not-found{
  margin-left: 40vw;
}




/* End of new CSS */

/* .item-list-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 1000px;  */
  /* flex-direction: flex; */
  /* flex-direction: column; */
  /* align-items: ; */
  /* align-items: center; */
/* } */
  


div,
section,
main {
  box-sizing: border-box;
}

.ProductCard {
  border: 1px solid grey;
  box-shadow: 0px 2px 3px ghostwhite;
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  /* display: flex; */
}

.ProductCard a {
  text-decoration: none;
  color: black;
  
}



span.green,
span.red,
span.black {
  display: inline-block;
  padding: 3px 10px;
  width: 25px;
  border-radius: 3px;
  color: white;
  font-weight: 600;
}

.green {
  background: green;
}

.red {
  background: red;
}

.black {
  background: black;
}
/* .team {
  margin-left: 20vw;
}

.about {
  padding-top: 20px;
  margin-left: 160px;
  margin-top: 73px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
}

#abt-team {
  margin-left: 40vw;
  margin-bottom: 0;
} */


.about {
  margin-left: 160px;
  margin-top: 73px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.team {
  /* padding: 0 20px; */
  display: flex;
  justify-content: space-around;
}

.team > p {
  padding: 0 20px;
}

.team-icon {
  width: 45px;
  padding: 10px;
}

.team-titles {
  display: flex;
  justify-content:space-around;
}

.project {
  margin-bottom: 40px;
}

hr {
  width: 65%;
}

/* .team > h2 {
  display: block;

}

.project {
  padding: 0 20px;
}

.project > p {
  margin-top: 20px;
}

.project > h1 {
  text-align:center;
  padding-bottom: 20px;
} */

.item-details {
  margin-left: 160px;
  margin-top: 73px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.item-thumbnail {
  width: 250px;
}

/* Form CSS */

form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 600px;

  /* padding: 1.5rem; Add some padding to create the card effect */
  border: 1px solid #ccc; /* Add a border to make it recognizable */
  border-radius: 0.5rem; /* Rounded corners for the card */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the card */  
}

.form-div {
  margin-top: 10px;
  margin-bottom: 35px;
  justify-content: center;
  display: flex;
  text-align: center;
  
  

}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
select,
input[type="number"] {
  width: 100%;
  height: 35px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  margin-left: -0.1rem;
}

/* input[type="checkbox"] {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  display: block;
  transform: scale(1.5)
} */

label {
  display: block;
  text-align: left;
  margin: 25px;
  height: 55px;
}

button[type="submit"] {
  width: 200px;
  height: 40px;
  padding: 10px;
  margin: 15px;
  background-color: #3490dc;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

 